@font-face {
    font-family: 'FogtwoNo5';
    src: url('/fonts/FogtwoNo5.eot');
    src: url('/fonts/FogtwoNo5.eot?#iefix') format('embedded-opentype'),
        url('/fonts/FogtwoNo5.woff2') format('woff2'),
        url('/fonts/FogtwoNo5.woff') format('woff'),
        url('/fonts/FogtwoNo5.ttf') format('truetype'),
        url('/fonts/FogtwoNo5.svg#FogtwoNo5') format('svg');
    font-weight: normal;
    font-style: normal;
}
